torch ## for ultralytics
torchvision ## for ultralytics
torchaudio ## for ultralytics
ultralytics==8.3.9 ## for YOLOv8
opencv-python ## for image processing
numpy ## for array processing
roboflow ## for dataset annotation
selenium ## for web scraping

# for back end api
pymongo
flask
flask_cors

# for production
gunicorn
pydantic>=2.10.6
fastapi[standard]>=0.115.7
pydantic-settings
filterpy>=1.4.5
motor
colorlog
supervision
